body {
    font-family: Arial;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.container {
    background: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
    text-align: center;
}

button {
    padding: 8px 15px;
    cursor: pointer;
    border: none;
    background: #333;
    color: white;
    border-radius: 5px;
}

button:hover {
    background: #555;
}

#status {
    margin-top: 15px;
    font-weight: bold;
}

ul {
    margin-top: 15px;
    text-align: left;
}

li {
    margin-bottom: 8px;
}
