body {
    font-family: Arial;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    width: 900px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
}

#searchInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.product {
    background: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 5px rgb(0 0 0 / 0.1);
}

.product h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.product p {
    font-weight: bold;
    color: #333;
}
