body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background: rgb(246, 243, 243);
    padding: 20px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
}

input {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 10px;
    cursor: pointer;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    background: #eee;
    padding: 8px;
    margin-bottom: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-small {
    margin-left: 5px;
    padding: 3px 6px;
    border: none;
    cursor: pointer;
}

.edit {
    background: #4CAF50;
    color: white;
}

.delete {
    background: #e63946;
    color: white;
}
