body {
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-family: Arial;
}

.container {
    width: 400px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
}

.text {
    font-size: 18px;
    margin: 15px 0;
    min-height: 25px;
}

button {
    padding: 10px 15px;
    background: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:disabled {
    background: #777;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background: #555;
}
