body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.box {
    width: 350px;
    background: rgb(242, 241, 241);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    resize: none;
}

#counter {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
