body {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-family: Arial;
}

.container {
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.2);
}

input {
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

button {
    padding: 8px 15px;
    margin-top: 10px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #555;
}

.error {
    color: red;
    margin-top: 10px;
}

.weather {
    margin-top: 20px;
    text-align: left;
}

.hidden {
    display: none;
}
